<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
	 
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="header">



	<div class="overlay">
        <div class="name" id="name"><h3>Admin, {{ email }}!</h3></div>
	<h1>VTube</h1>
	 <a href="{{ url_for('logout') }}" id="link">	<input type="submit" name="login" value="Logout" id="submit"></a>
	 
	<nav class="menu">
	<button class="menu-button" id="menubutton">⋮</button>

        	<div class="menu-content" id="menu-content">
				
        <a href="{{ url_for('hello') }}">view_history</a>
	    <a href="{{ url_for('view_liked_video') }}">view_liked</a>
	    <a href="{{ url_for('view_all_video') }}">view_all_video</a>
        <a href="{{ url_for('view_registration') }}">view_registration</a>
        <a href="{{ url_for('hello') }}">view_saved_video</a>
		<a href="{{ url_for('view_comment_details') }}">view_comment_details</a>
        <a href="{{ url_for('view_all_video_details') }}">view_all_video_details</a>
		
</div>

</div>   


<main class="main">
   
    
   
<button id="Search"></button><br>
 <input type="text" placeholder="Search..." class="hidden" id="stextbox">
 <script>
 document.getElementById('Search').addEventListener('click', function() {
    var textbox = document.getElementById('stextbox');
    textbox.classList.toggle('hidden');
});
</script>
		{% if content %}
            {% include content %}
        {% else %}
            
        {% endif %}
	
	<iframe name="mainFrame" width="100%" height="600px" frameborder="0"></iframe>
	 
</main>
<footer class="footer">
    
	
	
	<a href="{{ url_for('view_all_video') }}" class="background-link"></a> 
	<a href="{{ url_for('admin_shorts_video') }}" class="background-link" id="shorts"></a> 
	<a href="{{ url_for('admin_account') }}" class="background-link" id="user"></a>

</div>

</nav>   
  </div>      
    </footer>
	<!--<script>
        function goToNextPage() {
            window.location.href = 'index.html'; 
        }
    </script>-->
</body>
</html>

