<html>
<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_form_register.css') }}">
</head>
<body>
    <div class="container">
    <form method="post" action="{{ url_for('changes_password') }}">
    <h1>Change Password</h1>
    <label for="newPassword">Current Password:</label>
    <input type="password" id="oldPassword" name="currentPassword" placeholder="Current password" />
    {% if err %}
    <p style="color:red;">{{ err }}</p>
    {% endif %}
    {% if er %}
    <p style="color:green;">{{ er }}</p>
    {% endif %}

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" placeholder="New password" />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" />
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <p class="form-actions">
    <input type="submit" value="Change Password" title="Change password" />
    </p>

</form>
</body>
</html>